@import url("set.css");
@import url("font.css");

/* * * * * * * * * * * * * * * * * * *
Home
* * * * * * * * * * * * * * * * * * */

/* Grid Wrap  */
.grid1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [pg-st] 50vh [mn-st] 30vh [hd-end] auto [mn-end] ;
}


/************** Header Start  **************/
header{
  background-image: url('img/hero.jpg');
  background-repeat: no-repeat;
  color: darkgray;
  text-align: center;
  

  grid-column: 1/-1;
  grid-row: pg-st / hd-end;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family:'Mansalva', cursive;
  color: #3D4449;
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 30px;
}

nav ul{
  margin-left:0;
  padding-left: 0;
  list-style-type: none;

  display: flex;
  justify-content: center;
}

nav a{
  padding: 1em;
  color: darkgray;
  text-decoration: none;
}

nav a:hover {
  color: #f66a6a;
}

/************** Header End  **************/


/************** Main Start  **************/

main {
  grid-column: 1/-1;
  grid-row: mn-st/hd-end;
}

section {
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
} 

/* Section 1 - Profile. Blog Style Overlap */
.section1{
  width: 50vw;
  background-color: white;
  border: 1px solid lightgray;
}

.profile {
  text-align: left;
  padding: 30px

}
#mepic {
  border-radius: 50%;
  margin-right: 17px;
  float: left;
  width: 30vmin;
  height: 30vmin;
  shape-outside: circle(50%);
}

/* Section 2 - Joyful. Card Style */
.section2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.title{
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}


.card {
  border-radius: 2px;
  margin-bottom: 50px;
  position: relative;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card img {
  width: 15vw;
  height: 20vh;
  height: auto;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.card figcaption {
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 0.9em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.card:hover img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.down {
  color: #3c414d;
  margin-top: 50px;
  text-align: center;
  display: block;
  position: relative;
}

.more {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #3c414d;
  font-family: "Roboto Slab", serif;
  text-align: center;
  border: 2px solid #3c414d;
  padding: 0.5em;
  width: 120px;
  display: block;
  

}

.more:hover{
  background-color: white;
  border-color: #f66a6a;
}

section a{
  color: #f66a6a;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  display: block;
}

hr{
  border-top: 2px solid #8c8b8b;
}

/* Section 3 - Qualified. Logo Card Style */

.section3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section3 figure{
  width: 15vw;
  height: 10vw;
  border: 1px solid lightgray;
}

.section3 img{
  width: 12vw;
  height: 8vw;
  padding-top: 1vw;
}

.section3 figure:hover img{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}



/* Section 3 - Quataion */

.section4{
  position: relative;
  height: 25vh;

}

.quote {
  position: absolute;
  left:25%;
  right:25%;
  top: 10%;
  font-size: 2em;
  font-weight: 600;
}

.quote:before{
  content: url(img/left-quote.png);
 
}

/************** Main End  **************/


/* Social Media */

.social{
  padding-bottom: 20px;
  margin-top: 70px;
  text-align: center;
}
.social img{
  padding-right: 30px;
}

/* Footer */
footer {
  height: 15vh;
  background-color: #3c414d;
  color: white;

  display: flex;
  justify-content: flex-start;
}
footer h6 {
  margin: auto;
  
  font-size: 1em;
  font-weight: normal;
}




/* * * * * * * * * * * * * * * * * * *
Qualified Page
* * * * * * * * * * * * * * * * * * */

.grid2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [pg-st] 30vh [mn-st] 5vh [hd-end] auto [mn-end];
}

.qualified h1{
  margin-top: 55px;
}

.qualified {
  text-align: left;
  padding: 30px;
}


.face {
  width: 92px;
  height: 130px;
  position: absolute;
  left: 80px;
  z-index: 1;
}

.callout {
  width: 140px;
  height: 70px;
  position: absolute;
  left: 100px;
  bottom:20px;
  color: #f66a6a;
  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
  padding: 10px;
  background-color: white;
	border-radius: 10px;
	margin: 25px;
	min-height: 50px;
  border: 1px solid lightgray;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
}


.callout:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 23px;
	bottom: -42px;
  border: 10px solid transparent;
  border-top: 32px solid rgb(193,193,193); /* IE8 Fallback */
  border-top: 32px solid rgba(193,193,193,0.5);
  z-index: 2;
}
.callout:after {
  content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 25px;
	bottom: -31px;
  border: 8px solid transparent;
  border-top: 24px solid #fff;
  z-index: 3;
}





/* * * * * * * * * * * * * * * * * * *
Joyful Page 
* * * * * * * * * * * * * * * * * * */


.gallerywrap {
  margin: 100px 50px 70px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.gallerywrap img{
  width: 20vw;
  height: 20vw;
  display: block;
  box-shadow: -1px 0px 0px rgba(0,0,0,0.03);
  border-radius: 4px;
} 


.gallerywrap figure:hover img{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.gallerywrap figure:hover figcaption{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}



/* * * * * * * * * * * * * * * * * * *
Connected Page 
* * * * * * * * * * * * * * * * * * */

/* Form */

.contact{
  margin: auto;
}

.form {
  width: 50vw;
  margin: 100px auto 50px auto;
  position: relative;
  border: 1px solid lightsalmon;
  border-radius: 0.375em;
  background-color: white;
  text-align: center;
  }


.label {
  padding: 0.5em;
}

.input {
  padding-left: 5px;
  height: 3em;
}

input {
  width: 25vw;
  height: 1em;
  padding: 5px;
  border: 1px solid lightslategray;
  border-radius: 4px;
}

input:focus {
  outline: 0;
  border: 1px solid lightsalmon;
}

textarea {
  width: 25vw;
  height: 60px;;
  padding: 5px;
  border: 1px solid lightslategray;
  border-radius: 4px;
}

textarea:focus {
  outline: 0;
  border: 1px solid lightsalmon;
}

/* Button style */

.button{
  padding-top: 20px;
}


button.submit{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 3em;
  background-color: #e7746f;
  border: 1px solid #e7746f;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

button:hover{
  border: 1px solid #5d4954;
  transition-property: box-shadow;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
  transition : 0.3s ease; 
}


/* * * * * * * * * * * * * * * * * * *
Responsive
* * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 800px) { 

  /* Home */
  .grid1{
    grid-template-rows: [pg-st] 30vh [mn-st] 5vh [hd-end] auto [mn-end];
  }

  .quote {
    font-size: 1.3em;
  }
  .section1{
    width: 100vw;
  } 

  .card img{
    width: 60vw;
    height: 80vw;
    border-radius: 0.5em;
  }

  .section3{
    display: flex;
    flex-direction: column;

  }

  .section3 figure{
    width: 64vw;
    height: 30vw;
    padding: 20px;

  }
  .section3 img{
    width: 44.8vw;
    height: 24.5vw;
  }

  .gallerywrap img{
    width: 70vw;
    height: 70vw;
  }

  .gallerywrap {
    margin: 100px 0px 70px 0px;
  }


 /* Connected Page */

  .form {
    margin-top: 100px;
    width: 80vw;
  }

  input,textarea {
      width: 70vw;
  }

  button.submit{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 3em;
    background-color: #e7746f;
    border: 1px solid #e7746f;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    
  } 
}

